.background {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://th.bing.com/th/id/R.c0b7f756fa4ab8d35ed02b38cc60c444?rik=1A9CSz4OdEfsEA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fABeKmUx.jpg&ehk=ap%2fCTORUId4fQKPoKwVyMBOGIx05fM6wg4NiH%2f8gU6g%3d&risl=&pid=ImgRaw&r=0');
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navele {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font: 24px Helvetica;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  width: 300px;
}

.navele:hover {
  background-color: rgba(255,255,255,0.5);
}

.navele:active {
  background-color: rgba(255,255,255,0.7);
  color: black;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.box {
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-family: Helvetica;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  height: 80px;
  border-radius: 10px;
}


.colorbutton {
  border: none;
  border-radius: 3px;
  height: 75%;
  aspect-ratio: 1/1;
}

.colorbutton:hover {
  border: 2px solid white;
}

.plot {
  width: 600px;
  height: 250px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}